# SPDX-License-Identifier: GPL-2.0-only
#
# CacheFlow buffer management
#

menuconfig NET_CACHEFLOW
	tristate "CacheFlow buffer management"
	select PAGE_POOL
	help
      This option enables the CacheFlow buffer management.

      If unsure, say N.

if NET_CACHEFLOW

config NET_CACHEFLOW_DEBUG
  	default n
  	bool "Debug information"
  	help
      This option enables debug information for CacheFlow buffer management.

config PAGE_POOL_STACK
	default y
	bool "Use stack for page pool"
	help
	  This option enables the use of stack (instead of the default ring) for page pool.

	  If unsure, say N.

config PAGE_POOL_SINGLE_OWNER
	default y
	bool "Use single owner for page pool"
	help
	  This option enables the use of single owner for page pool.

	  If unsure, say N.

config PAGE_POOL_BULK
	default y
	bool "Use bulk alloc and free for page pool"
	help
	  This option enables the use of bulk alloc and free for page pool.

	  If unsure, say N.

endif
